
html {
    min-height: 100%;
    height: 100%;
}
body {
    color: #fff ;
    margin: 0;
    height: 100%;
    position: relative;
    z-index: 5;
}

h1 {
    font-family: 'Optima', sans-serif;
    font-size: 3.5em;    
    padding-bottom: 60px;    
}

h2 {
    padding-right: 5px;
}

.bg-body {
    background-size: contain;
    background: url('imagens/bg-body.jpg');
    opacity: 0.6;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* --- TELA INICIAL --- */

.bg-titulo {
    background: url('imagens/background-titulo.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 200px;
}

.centralizado{
    display: flex;
    justify-content: center;
}

/* --- TELA JOGO --- */

.bg-titulo-pequeno {
    background: url('imagens/background-titulo.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 50px;
    text-align: center;
}

.container h3 {
    padding-bottom: 20px;
}

.pontuacao  {
    float: left;
    width: auto;
    height: 500px;
    background: #fff;
    border: solid 2px #222020;
    border-radius: 3px;
    margin-right: 5px;
}

.baloes {
    padding: 20px;
}

.cenario {
    float: left;
    width: 600px;
    height: 500px;
    background: url('imagens/cenario.png');
    background-color: #fff;
    background-position: bottom;
    border: solid 2px #222020;
    border-radius: 3px;
    margin-bottom: 10px;
}

.pontuacao_baloes {
    text-align: center;
    color: red;
    font-size: 30px;
}

.cronometro {
    width: 140px;
    height: 132px;
}

.cronometro td {
    background: url('imagens/cronometro.png');
    text-align: center;
    color: red;
    font-size: 25px;
}

.info {
    clear: both;
    border: solid 2px #222020;
    border-radius: 3px;
    background-color: #fff;
    color: #222020;
}

/* --- MODAL --- */

.modal-background {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2000;
    height: 100%;
    width: 100%;
}

.display-none {
    display: none;
}

.modal {
    background-color: #fff;
    border: 2px solid #222020;
    border-radius: 0.5rem;
    color: #222020;
    position: absolute;
    left: calc(50% - 216px);
    top: calc(50% - 51.5px);
    padding: 20px;
    width: 24rem;
    animation: modal .3s;
    text-align: center;
}

.mensagem{
    font-size: 20px;
    padding-bottom: 20px;
}

.btn-menu{
    background-color: #0f34da;
    border-color: #0e11e9;
    border-radius: 7px;
    color: #fff; 
    padding: 5px;
}

.btn-recomeco{
    background-color: #6ed213;
    border-color: #e5ffdc;
    border-radius: 7px;
    color: #fff;
    padding: 5px;
}

@keyframes modal {
    from{
        opacity: 0;
        transform: translate(0, -60px);
    }
    to{
        opacity: 1;
        transform: translate(0, 0);
    }
}